{
  "openapi": "3.0.2",
  "info": {
    "title": "Checkout API",
    "version": "1.23.0",
    "license": {
      "url": "https://www.monext.fr/retail",
      "name": "Monext - All rights reserved"
    },
    "description": "# BASICS\n\n  ## Introduction\n\n  The Monext Retail API is RESTful, meaning that it uses HTTP verbs (POST, PUT, GET...) to perform functions on resources.\n\n  Specifically, POST is used to create a resource, PUT to update a resource, and GET to retrieve a resource or a collection of resources.\n\n  For example, to create a new wallet resource you would send a POST requests to Wallets.\n\n  POST and PUT requests usually require data to be passed in the message body to define the attributes of the object being created or updated.\n\n\n  ## Versioning\n  The API version is indicated in each endpoint resource path. For example, [https://api-sandbox.retail.monext.com/v1/checkout](https://api-sandbox.retail.monext.com/v1/checkout) indicates the API is at version 1.\n\n  Monext increments the version number when it releases a new version containing backwards-incompatible changes.\n\n  Some minor changes, mostly for improvements, could happens without version changes.\n\n\n  ## Security\n  The Monext Retail API processes sensitive data. That's why we pay special attention to security.\n  * Monext data centers deploy the latest in hardware and software security best practices.\n  * Communication with all Monext services requires TLS1.2.\n  * All communication is made by using standard features of HTTPs.\n  * Monext maintains PCI-DSS compliance certifications.\n\n  ## Responses\n  Monext Retail API calls return HTTP status codes. Some API calls also return JSON response bodies that include information about the resource.\n  When you create any Monext resource, the system associates an internal unique identifier for referencing that resource.\n\n  **HTTP Status Code**\n\n  Each API call returns a success or error HTTP status codes following the [RFC7231](https://tools.ietf.org/html/rfc7231).\n\n\n  **Success**\n\n  The following status codes of HTTP are used:\n\n  2xx - the request was successfully accepted and was or will be processed.\n\n\n  **Error**\n\n  The following status codes of HTTP are used:\n\n  4xx - the request was rejected due to a problem with the information sent by the client.\n\n  5xx - something unexpected occurred while fulfilling the request; the request may or may not have been processed, depending on the error.\n\n  Whenever a client receives a 5xx response, it should not assume anything about the processing state of such request.\n\n\n  ## Authentication\n\n  | Security Scheme Type      | HTTP  | Server |\n  |---------------------------|-------|--------|\n  | HTTP Authorization Scheme | basic |        |\n\n\n  ## Query\n  For most REST GET calls, you can specify one or more optional query parameters on the request URI to filter, limit the size of, and sort the data in an API response. For filter parameters, see the individual GET calls.\n\n\n  ## Sorting and Pagination\n  Rather than return everything from a large result set, we are using some URL parameters that will influence the page size and starting page number.\n\n  **Query parameter details**\n\n  | Parameter   | Type        | Description                                                             |\n  |-------------|-------------|-------------------------------------------------------------------------|\n  | size        | integer     | The number of items to list in the response.                            |\n  | page        | integer     | The page index.                                                         |\n  | sort        | string      | Sorts resources in the response by a specified value and sort direction.|\n\n  **Response field details**\n\n  | Parameter   | Type    | Description                                                       |\n  |-------------|---------|-------------------------------------------------------------------|\n  | count       | integer | The number of items to list in the response.                      |\n  | startIndex  | integer | The sort order index of the first resource in the returned array. |\n  | endIndex    | integer | The sort order index of the last resource in the returned array.  |\n  | recordTotal | integer | count of records                                                  |\n  <br>"
  },
  "x-readme": {
    "explorer-enabled": true,
    "samples-languages": [
      "curl",
      "node",
      "javascript",
      "python",
      "kotlin",
      "swift"
    ],
    "proxy-enabled": true,
    "samples-enabled": true
  },
  "externalDocs": {
    "url": "https://api-docs.retail.monext.com/",
    "description": "Monext Online documentation"
  },
  "servers": [
    {
      "url": "https://api-sandbox.retail.monext.com",
      "description": "Try our API on the sandbox (Homologation environment)"
    }
  ],
  "security": [
    {
      "basicAuth": []
    }
  ],
  "tags": [
    {
      "name": "Test"
    },
    {
      "name": "Session [DEPRECATED]",
      "description": "[DEPRECATED] Please see \"Payment / Session\" section\n",
      "externalDocs": {
        "description": "Documentation",
        "url": "#"
      }
    },
    {
      "name": "Payment",
      "description": "Used for a payment\n",
      "externalDocs": {
        "description": "Documentation",
        "url": "#"
      }
    },
    {
      "name": "Payment / Session",
      "description": "Used for a web payment session\n",
      "externalDocs": {
        "description": "Documentation",
        "url": "#"
      }
    },
    {
      "name": "PayByLink",
      "description": "Used for a payment by link\n",
      "externalDocs": {
        "description": "Documentation",
        "url": "#"
      }
    },
    {
      "name": "MXWallet",
      "description": "Used for manage our MXWallet\n",
      "externalDocs": {
        "description": "Documentation",
        "url": "#"
      }
    },
    {
      "name": "MXWallet / Payment Instrument",
      "description": "Used for manage Payment Instrument in a MXWallet\n",
      "externalDocs": {
        "description": "Documentation",
        "url": "#"
      }
    },
    {
      "name": "MXWallet / Session",
      "description": "Used for manage a MXWallet in web session\n",
      "externalDocs": {
        "description": "Documentation",
        "url": "#"
      }
    },
    {
      "name": "Transaction",
      "description": "Used for manage transaction",
      "externalDocs": {
        "description": "Documentation",
        "url": "#"
      }
    },
    {
      "name": "3DS Authentication",
      "description": "3DSecure (3DS) authentication session",
      "externalDocs": {
        "description": "Documentation",
        "url": "#"
      }
    }
  ],
  "paths": {
    "/v1/checkout/alive": {
      "get": {
        "tags": [
          "Test"
        ],
        "summary": "is it alive ?",
        "operationId": "alive",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestResult"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Result"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Result"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Result"
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Result"
                }
              }
            }
          },
          "412": {
            "description": "Precondition Failed",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Result"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Result"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Result"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Result"
                }
              }
            }
          },
          "501": {
            "description": "Not Implemented",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Result"
                }
              }
            }
          },
          "502": {
            "description": "Bad Gateway ou Proxy Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Result"
                }
              }
            }
          },
          "503": {
            "description": "Service Unavailable",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Result"
                }
              }
            }
          },
          "504": {
            "description": "Gateway Time-out",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Result"
                }
              }
            }
          }
        }
      }
    },
    "/v1/checkout/components": {
      "post": {
        "tags": [
          "Test"
        ],
        "summary": "See all component (develop environment)",
        "description": "Just to see all component (only in develop environment)\n",
        "operationId": "components",
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "title": "AllComponents",
                "type": "object",
                "required": [
                  "result"
                ],
                "properties": {
                  "authenticationVerifyRequest": {
                    "$ref": "#/components/schemas/AuthenticationVerifyRequest"
                  },
                  "authenticationVerifyResponse": {
                    "$ref": "#/components/schemas/AuthenticationVerifyResponse"
                  },
                  "authenticationCreateRequest": {
                    "$ref": "#/components/schemas/AuthenticationCreateRequest"
                  },
                  "authenticationContinueRequest": {
                    "$ref": "#/components/schemas/AuthenticationContinueRequest"
                  },
                  "authenticationResponse": {
                    "$ref": "#/components/schemas/AuthenticationResponse"
                  },
                  "miscData": {
                    "$ref": "#/components/schemas/MiscData"
                  },
                  "transactionPayment": {
                    "$ref": "#/components/schemas/TransactionPayment"
                  },
                  "transactionAction": {
                    "$ref": "#/components/schemas/TransactionAction"
                  },
                  "payment": {
                    "$ref": "#/components/schemas/Payment"
                  },
                  "recurring": {
                    "$ref": "#/components/schemas/RecurringPayment"
                  },
                  "paymentPlan": {
                    "$ref": "#/components/schemas/PaymentPlan"
                  },
                  "installment": {
                    "$ref": "#/components/schemas/Installment"
                  },
                  "paymentMethod": {
                    "$ref": "#/components/schemas/PaymentMethod"
                  },
                  "order": {
                    "$ref": "#/components/schemas/Order"
                  },
                  "buyer": {
                    "$ref": "#/components/schemas/Buyer"
                  },
                  "buyerData": {
                    "$ref": "#/components/schemas/BuyerData"
                  },
                  "delivery": {
                    "$ref": "#/components/schemas/Delivery"
                  },
                  "person": {
                    "$ref": "#/components/schemas/Person"
                  },
                  "personEx": {
                    "$ref": "#/components/schemas/PersonEx"
                  },
                  "contactAddress": {
                    "$ref": "#/components/schemas/ContactAddress"
                  },
                  "partnerReturnedData": {
                    "$ref": "#/components/schemas/PartnerReturnedData"
                  },
                  "sessionRequest": {
                    "$ref": "#/components/schemas/SessionRequest"
                  },
                  "sessionResponse": {
                    "$ref": "#/components/schemas/SessionResponse"
                  },
                  "sessionDetailResponse": {
                    "$ref": "#/components/schemas/SessionDetailResponse"
                  },
                  "paymentRequest": {
                    "$ref": "#/components/schemas/PaymentRequest"
                  },
                  "paymentResponse": {
                    "$ref": "#/components/schemas/PaymentResponse"
                  },
                  "mxWalletRequest": {
                    "$ref": "#/components/schemas/MXWalletRequest"
                  },
                  "mxWalletCreateRequest": {
                    "$ref": "#/components/schemas/MXWalletCreateRequest"
                  },
                  "mxWalletResponse": {
                    "$ref": "#/components/schemas/MXWalletResponse"
                  },
                  "PaymentInstrumentRequest": {
                    "$ref": "#/components/schemas/PaymentInstrumentRequest"
                  },
                  "paymentInstrumentResult": {
                    "$ref": "#/components/schemas/PaymentInstrumentResult"
                  },
                  "transactionActionRequest": {
                    "$ref": "#/components/schemas/TransactionActionRequest"
                  },
                  "transactionActionResponse": {
                    "$ref": "#/components/schemas/TransactionActionResponse"
                  },
                  "transactionDetailResponse": {
                    "$ref": "#/components/schemas/TransactionDetailResponse"
                  },
                  "associatedTransaction": {
                    "$ref": "#/components/schemas/AssociatedTransaction"
                  },
                  "threeDSInfo": {
                    "$ref": "#/components/schemas/ThreeDSInfo"
                  },
                  "cardManualEntry": {
                    "$ref": "#/components/schemas/CardManualEntry"
                  },
                  "usedCard": {
                    "$ref": "#/components/schemas/UsedCard"
                  },
                  "mxWalet": {
                    "$ref": "#/components/schemas/MXWallet"
                  },
                  "mxWalletDetail": {
                    "$ref": "#/components/schemas/MXWalletDetail"
                  },
                  "bankAccountData": {
                    "$ref": "#/components/schemas/BankAccountData"
                  },
                  "paymentInstrument": {
                    "$ref": "#/components/schemas/PaymentInstrument"
                  },
                  "paymentInstrumentOrigin": {
                    "$ref": "#/components/schemas/PaymentInstrumentOrigin"
                  },
                  "paymentInstrumentData": {
                    "$ref": "#/components/schemas/PaymentInstrumentData"
                  },
                  "paymentInstrumentType": {
                    "$ref": "#/components/schemas/PaymentInstrumentType"
                  },
                  "paymentType": {
                    "$ref": "#/components/schemas/PaymentType"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/v1/checkout/sessions": {
      "post": {
        "tags": [
          "Session [DEPRECATED]"
        ],
        "summary": "Create a session [DEPRECATED]",
        "description": "[DEPRECATED] Please see \"Payment / Session\" section <br> Creating a payment session generates a session token: <br> A temporary key used to initialize the Payment Widget and authenticate it against your account. <br> This works the same way with Hosted Payment Pages.<br> <br> Payment Widget automatically retrieves all the settings from the payment session to configure the payment methods and the payment experience.<br> <br> Note: sessionId expire after 30 minutes per default.<br>\n",
        "operationId": "sessionCreate_DEPRECATED",
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SessionRequest"
              },
              "examples": {
                "sessionCreateCBExample": {
                  "summary": "Create a session with CB VISA or Mastercard",
                  "value": {
                    "order": {
                      "currency": "EUR",
                      "origin": "E_COM",
                      "country": "FR",
                      "reference": "##AUTO##",
                      "amount": 11100
                    },
                    "payment": {
                      "paymentType": "ONE_OFF",
                      "capture": "AUTOMATIC"
                    },
                    "buyer": {
                      "legalStatus": "PRIVATE",
                      "billingAddress": {
                        "country": "FR"
                      }
                    },
                    "delivery": {
                      "address": {
                        "country": "FR"
                      }
                    },
                    "paymentMethod": {
                      "paymentMethodIDs": [
                        "cb"
                      ]
                    },
                    "pointOfSaleReference": "REF1",
                    "returnURL": "https://yourdomain.com:8080/route/1.0/returns",
                    "notificationURL": "https://yourdomain.com:8080/route/1.0/notifications"
                  }
                },
                "sessionCreateAMEXExample": {
                  "summary": "Create a session with AMEX as payment method",
                  "value": {
                    "order": {
                      "currency": "EUR",
                      "origin": "E_COM",
                      "country": "FR",
                      "reference": "##AUTO##",
                      "amount": 11100
                    },
                    "payment": {
                      "paymentType": "ONE_OFF",
                      "capture": "AUTOMATIC"
                    },
                    "buyer": {
                      "legalStatus": "PRIVATE",
                      "billingAddress": {
                        "country": "FR"
                      }
                    },
                    "delivery": {
                      "address": {
                        "country": "FR"
                      }
                    },
                    "paymentMethod": {
                      "paymentMethodIDs": [
                        "AMEX_1"
                      ]
                    },
                    "pointOfSaleReference": "REF123",
                    "returnURL": "https://yourdomain.com:8080/route/1.0/returns",
                    "notificationURL": "https://yourdomain.com:8080/route/1.0/notifications"
                  }
                },
                "sessionCreateMultiPaymentMethodsExample": {
                  "summary": "Create a session with multiple payment methods",
                  "value": {
                    "order": {
                      "currency": "EUR",
                      "origin": "E_COM",
                      "country": "FR",
                      "reference": "##AUTO##",
                      "amount": 11100
                    },
                    "payment": {
                      "paymentType": "ONE_OFF",
                      "capture": "AUTOMATIC"
                    },
                    "buyer": {
                      "legalStatus": "PRIVATE",
                      "billingAddress": {
                        "country": "FR"
                      }
                    },
                    "delivery": {
                      "address": {
                        "country": "FR"
                      }
                    },
                    "paymentMethod": {
                      "paymentMethodIDs": [
                        "CB_POS123",
                        "AMEX_1"
                      ]
                    },
                    "pointOfSaleReference": "REF123",
                    "returnURL": "https://yourdomain.com:8080/route/1.0/returns",
                    "notificationURL": "https://yourdomain.com:8080/route/1.0/notifications"
                  }
                },
                "sessionCreate3DSExample": {
                  "summary": "Create a session with 3DSecure payment methods",
                  "value": {
                    "order": {
                      "currency": "EUR",
                      "origin": "E_COM",
                      "country": "FR",
                      "reference": "##AUTO##",
                      "amount": 11100
                    },
                    "payment": {
                      "paymentType": "ONE_OFF",
                      "capture": "AUTOMATIC"
                    },
                    "buyer": {
                      "legalStatus": "PRIVATE",
                      "billingAddress": {
                        "country": "FR"
                      }
                    },
                    "delivery": {
                      "address": {
                        "country": "FR"
                      }
                    },
                    "paymentMethod": {
                      "paymentMethodIDs": [
                        "CB3DSV2"
                      ]
                    },
                    "pointOfSaleReference": "REF1",
                    "returnURL": "https://yourdomain.com:8080/route/1.0/returns",
                    "notificationURL": "https://yourdomain.com:8080/route/1.0/notifications",
                    "threeDS": {
                      "challengeInd": "CHALLENGE_REQUESTED"
                    }
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SessionResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestResult"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Result"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Result"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Result"
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Result"
                }
              }
            }
          },
          "412": {
            "description": "Precondition Failed",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Result"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Result"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Result"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Result"
                }
              }
            }
          },
          "501": {
            "description": "Not Implemented",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Result"
                }
              }
            }
          },
          "502": {
            "description": "Bad Gateway ou Proxy Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Result"
                }
              }
            }
          },
          "503": {
            "description": "Service Unavailable",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Result"
                }
              }
            }
          },
          "504": {
            "description": "Gateway Time-out",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Result"
                }
              }
            }
          }
        }
      }
    },
    "/v1/checkout/sessions/{sessionId}": {
      "get": {
        "tags": [
          "Session [DEPRECATED]"
        ],
        "summary": "Get a session detail [DEPRECATED]",
        "description": "[DEPRECATED] Please see \"Payment / Session\" section <br> Retrieves all the details associated with the buyer session corresponding to the session ID.\n",
        "operationId": "sessionGet_DEPRECATED",
        "parameters": [
          {
            "name": "sessionId",
            "in": "path",
            "description": "Web payment session unique identifier",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/SessionDetailResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestResult"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Result"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Result"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Result"
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Result"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Result"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Result"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Result"
                }
              }
            }
          },
          "501": {
            "description": "Not Implemented",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Result"
                }
              }
            }
          },
          "502": {
            "description": "Bad Gateway ou Proxy Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Result"
                }
              }
            }
          },
          "503": {
            "description": "Service Unavailable",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Result"
                }
              }
            }
          },
          "504": {
            "description": "Gateway Time-out",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Result"
                }
              }
            }
          }
        }
      }
    },
    "/v1/checkout/payments/sessions": {
      "post": {
        "tags": [
          "Payment / Session"
        ],
        "summary": "Create a session",
        "description": "Creating a payment session generates a session token: <br> A temporary key used to initialize the Payment Widget and authenticate it against your account. <br> This works the same way with Hosted Payment Pages.<br> <br> Payment Widget automatically retrieves all the settings from the payment session to configure the payment methods and the payment experience.<br> <br> Note: sessionId expire after 30 minutes per default.<br>\n",
        "operationId": "sessionCreate",
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SessionRequest"
              },
              "examples": {
                "sessionCreateCBExample": {
                  "summary": "Create a session with CB VISA or Mastercard",
                  "value": {
                    "order": {
                      "currency": "EUR",
                      "origin": "E_COM",
                      "country": "FR",
                      "reference": "##AUTO##",
                      "amount": 11100
                    },
                    "payment": {
                      "paymentType": "ONE_OFF",
                      "capture": "AUTOMATIC"
                    },
                    "buyer": {
                      "legalStatus": "PRIVATE",
                      "billingAddress": {
                        "country": "FR"
                      }
                    },
                    "delivery": {
                      "address": {
                        "country": "FR"
                      }
                    },
                    "paymentMethod": {
                      "paymentMethodIDs": [
                        "cb"
                      ]
                    },
                    "pointOfSaleReference": "REF1",
                    "returnURL": "https://yourdomain.com:8080/route/1.0/returns",
                    "notificationURL": "https://yourdomain.com:8080/route/1.0/notifications"
                  }
                },
                "sessionCreateAMEXExample": {
                  "summary": "Create a session with AMEX as payment method",
                  "value": {
                    "order": {
                      "currency": "EUR",
                      "origin": "E_COM",
                      "country": "FR",
                      "reference": "##AUTO##",
                      "amount": 11100
                    },
                    "payment": {
                      "paymentType": "ONE_OFF",
                      "capture": "AUTOMATIC"
                    },
                    "buyer": {
                      "legalStatus": "PRIVATE",
                      "billingAddress": {
                        "country": "FR"
                      }
                    },
                    "delivery": {
                      "address": {
                        "country": "FR"
                      }
                    },
                    "paymentMethod": {
                      "paymentMethodIDs": [
                        "AMEX_1"
                      ]
                    },
                    "pointOfSaleReference": "REF123",
                    "returnURL": "https://yourdomain.com:8080/route/1.0/returns",
                    "notificationURL": "https://yourdomain.com:8080/route/1.0/notifications"
                  }
                },
                "sessionCreateMultiPaymentMethodsExample": {
                  "summary": "Create a session with multiple payment methods",
                  "value": {
                    "order": {
                      "currency": "EUR",
                      "origin": "E_COM",
                      "country": "FR",
                      "reference": "##AUTO##",
                      "amount": 11100
                    },
                    "payment": {
                      "paymentType": "ONE_OFF",
                      "capture": "AUTOMATIC"
                    },
                    "buyer": {
                      "legalStatus": "PRIVATE",
                      "billingAddress": {
                        "country": "FR"
                      }
                    },
                    "delivery": {
                      "address": {
                        "country": "FR"
                      }
                    },
                    "paymentMethod": {
                      "paymentMethodIDs": [
                        "CB_POS123",
                        "AMEX_1"
                      ]
                    },
                    "pointOfSaleReference": "REF123",
                    "returnURL": "https://yourdomain.com:8080/route/1.0/returns",
                    "notificationURL": "https://yourdomain.com:8080/route/1.0/notifications"
                  }
                },
                "sessionCreate3DSExample": {
                  "summary": "Create a session with 3DSecure payment methods",
                  "value": {
                    "order": {
                      "currency": "EUR",
                      "origin": "E_COM",
                      "country": "FR",
                      "reference": "##AUTO##",
                      "amount": 11100
                    },
                    "payment": {
                      "paymentType": "ONE_OFF",
                      "capture": "AUTOMATIC"
                    },
                    "buyer": {
                      "legalStatus": "PRIVATE",
                      "billingAddress": {
                        "country": "FR"
                      }
                    },
                    "delivery": {
                      "address": {
                        "country": "FR"
                      }
                    },
                    "paymentMethod": {
                      "paymentMethodIDs": [
                        "CB3DSV2"
                      ]
                    },
                    "pointOfSaleReference": "REF1",
                    "returnURL": "https://yourdomain.com:8080/route/1.0/returns",
                    "notificationURL": "https://yourdomain.com:8080/route/1.0/notifications",
                    "threeDS": {
                      "challengeInd": "CHALLENGE_REQUESTED"
                    }
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SessionResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestResult"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Result"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Result"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Result"
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Result"
                }
              }
            }
          },
          "412": {
            "description": "Precondition Failed",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Result"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Result"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Result"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Result"
                }
              }
            }
          },
          "501": {
            "description": "Not Implemented",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Result"
                }
              }
            }
          },
          "502": {
            "description": "Bad Gateway ou Proxy Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Result"
                }
              }
            }
          },
          "503": {
            "description": "Service Unavailable",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Result"
                }
              }
            }
          },
          "504": {
            "description": "Gateway Time-out",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Result"
                }
              }
            }
          }
        }
      }
    },
    "/v1/checkout/payments/sessions/{sessionId}": {
      "get": {
        "tags": [
          "Payment / Session"
        ],
        "summary": "Get a session detail",
        "description": "Retrieves all the details associated with the buyer session corresponding to the session ID.\n",
        "operationId": "sessionGet",
        "parameters": [
          {
            "name": "sessionId",
            "in": "path",
            "description": "Web payment session unique identifier",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/SessionDetailResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestResult"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Result"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Result"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Result"
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Result"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Result"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Result"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Result"
                }
              }
            }
          },
          "501": {
            "description": "Not Implemented",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Result"
                }
              }
            }
          },
          "502": {
            "description": "Bad Gateway ou Proxy Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Result"
                }
              }
            }
          },
          "503": {
            "description": "Service Unavailable",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Result"
                }
              }
            }
          },
          "504": {
            "description": "Gateway Time-out",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Result"
                }
              }
            }
          }
        }
      }
    },
    "/v1/checkout/payments": {
      "post": {
        "tags": [
          "Payment"
        ],
        "summary": "Create a payment",
        "description": "Performs a debit authorization request to authorization server of your acquirer. Simple authorization and/or immediate payment with a MXWallet",
        "operationId": "paymentCreate",
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PaymentRequest"
              },
              "examples": {
                "paymentCreateCardManualEntry": {
                  "summary": "Create a direct payment with a card",
                  "value": {
                    "order": {
                      "currency": "EUR",
                      "origin": "E_COM",
                      "country": "FR",
                      "reference": "##AUTO##",
                      "amount": 2800
                    },
                    "payment": {
                      "paymentType": "ONE_OFF",
                      "capture": "AUTOMATIC"
                    },
                    "paymentInstrument": {
                      "selectedPaymentInstrument": "CardManualEntry",
                      "holderName": "JOHN DOE",
                      "expirationDate": "1233",
                      "number": "4970111111111111",
                      "cvx": "123",
                      "selectedNetwork": "VISA"
                    },
                    "buyer": {
                      "legalStatus": "PRIVATE",
                      "billingAddress": {
                        "country": "FR"
                      }
                    },
                    "delivery": {
                      "address": {
                        "country": "FR"
                      }
                    },
                    "paymentMethodId": "cb"
                  }
                },
                "paymentCreateMxWallet": {
                  "summary": "Create a direct payment with a MXWallet",
                  "value": {
                    "order": {
                      "currency": "EUR",
                      "origin": "E_COM",
                      "country": "FR",
                      "reference": "##AUTO##",
                      "amount": 12300
                    },
                    "payment": {
                      "paymentType": "ONE_OFF",
                      "capture": "AUTOMATIC"
                    },
                    "paymentInstrument": {
                      "selectedPaymentInstrument": "MXWallet",
                      "id": "WALLET123"
                    },
                    "buyer": {
                      "legalStatus": "PRIVATE",
                      "billingAddress": {
                        "country": "FR"
                      }
                    },
                    "delivery": {
                      "address": {
                        "country": "FR"
                      }
                    },
                    "paymentMethodId": "cb"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentResponse"
                }
              }
            }
          },
          "202": {
            "description": "Accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestResult"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Result"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Result"
                }
              }
            }
          },
          "409": {
            "description": "Conflict: duplicated payment transaction",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Result"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Result"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Result"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Result"
                }
              }
            }
          },
          "501": {
            "description": "Not Implemented",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Result"
                }
              }
            }
          },
          "502": {
            "description": "Bad Gateway ou Proxy Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Result"
                }
              }
            }
          },
          "503": {
            "description": "Service Unavailable",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Result"
                }
              }
            }
          },
          "504": {
            "description": "Gateway Time-out",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Result"
                }
              }
            }
          }
        }
      }
    },
    "/v1/checkout/merchants/{merchantId}/mxwallets": {
      "post": {
        "tags": [
          "MXWallet"
        ],
        "summary": "Create a MXWallet",
        "description": "Create a MXWallet.",
        "operationId": "mxWalletCreate",
        "parameters": [
          {
            "name": "merchantId",
            "in": "path",
            "description": "Merchant identifier",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MXWalletCreateRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "MXWallet created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MXWalletResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestResult"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Result"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Result"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Result"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Result"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Result"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Result"
                }
              }
            }
          },
          "501": {
            "description": "Not Implemented",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Result"
                }
              }
            }
          },
          "502": {
            "description": "Bad Gateway ou Proxy Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Result"
                }
              }
            }
          },
          "503": {
            "description": "Service Unavailable",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Result"
                }
              }
            }
          },
          "504": {
            "description": "Gateway Time-out",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Result"
                }
              }
            }
          }
        }
      }
    },
    "/v1/checkout/merchants/{merchantId}/mxwallets/{mxWalletId}": {
      "put": {
        "tags": [
          "MXWallet"
        ],
        "summary": "Update a MXWallet",
        "description": "Update a MXWallet.",
        "operationId": "mxWalletUpdate",
        "parameters": [
          {
            "name": "merchantId",
            "in": "path",
            "description": "Merchant identifier",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "mxWalletId",
            "in": "path",
            "description": "MXWallet identifier (unique by Merchant)",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/MXWalletId"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MXWalletRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "MXWallet updated",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/MXWalletResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestResult"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Result"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Result"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Result"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Result"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Result"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Result"
                }
              }
            }
          },
          "501": {
            "description": "Not Implemented",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Result"
                }
              }
            }
          },
          "502": {
            "description": "Bad Gateway ou Proxy Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Result"
                }
              }
            }
          },
          "503": {
            "description": "Service Unavailable",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Result"
                }
              }
            }
          },
          "504": {
            "description": "Gateway Time-out",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Result"
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "MXWallet"
        ],
        "summary": "Get a MXWallet detail",
        "description": "Get a MXWallet detail.",
        "operationId": "mxWalletGet",
        "parameters": [
          {
            "name": "merchantId",
            "in": "path",
            "description": "Merchant identifier",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "mxWalletId",
            "in": "path",
            "description": "MXWallet identifier (unique by Merchant)",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/MXWalletId"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/MXWalletResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestResult"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Result"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Result"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Result"
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Result"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Result"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Result"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Result"
                }
              }
            }
          },
          "501": {
            "description": "Not Implemented",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Result"
                }
              }
            }
          },
          "502": {
            "description": "Bad Gateway ou Proxy Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Result"
                }
              }
            }
          },
          "503": {
            "description": "Service Unavailable",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Result"
                }
              }
            }
          },
          "504": {
            "description": "Gateway Time-out",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Result"
                }
              }
            }
          }
        }
      }
    },
    "/v1/checkout/merchants/{merchantId}/mxwallets/{mxWalletId}/status": {
      "put": {
        "tags": [
          "MXWallet"
        ],
        "summary": "Update a MXWallet Status",
        "description": "Update MXWallet status (ACTIVE or INACTIVE) : All payment instruments in a MXWallet are enabled or disabled.<br> if MXWallet status is INACTIVE, it's no longer possible to pay with this MXWallet.",
        "operationId": "mxWalletUpdateStatus",
        "parameters": [
          {
            "name": "merchantId",
            "in": "path",
            "description": "Merchant identifier",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "mxWalletId",
            "in": "path",
            "description": "MXWallet identifier (unique by Merchant)",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/MXWalletId"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/StatusUpdateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "MXWallet status updated",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/StatusUpdateResult"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestResult"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Result"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Result"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Result"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Result"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Result"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Result"
                }
              }
            }
          },
          "501": {
            "description": "Not Implemented",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Result"
                }
              }
            }
          },
          "502": {
            "description": "Bad Gateway ou Proxy Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Result"
                }
              }
            }
          },
          "503": {
            "description": "Service Unavailable",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Result"
                }
              }
            }
          },
          "504": {
            "description": "Gateway Time-out",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Result"
                }
              }
            }
          }
        }
      }
    },
    "/v1/checkout/merchants/{merchantId}/mxwallets/{mxWalletId}/paymentinstruments": {
      "post": {
        "tags": [
          "MXWallet / Payment Instrument"
        ],
        "summary": "Add a payment instrument",
        "description": "Add a payment instrument to an existing MXWallet.",
        "operationId": "mxWalletPaymentInstrumentAdd",
        "parameters": [
          {
            "name": "merchantId",
            "in": "path",
            "description": "Merchant identifier",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": 12345678901234
          },
          {
            "name": "mxWalletId",
            "in": "path",
            "description": "MXWallet identifier (unique by Merchant)",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/MXWalletId"
            },
            "example": "WALLET123"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PaymentInstrumentRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Payment instrument added to the MXWallet.",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentInstrumentResult"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestResult"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Result"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Result"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Result"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Result"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Result"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Result"
                }
              }
            }
          },
          "501": {
            "description": "Not Implemented",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Result"
                }
              }
            }
          },
          "502": {
            "description": "Bad Gateway ou Proxy Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Result"
                }
              }
            }
          },
          "503": {
            "description": "Service Unavailable",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Result"
                }
              }
            }
          },
          "504": {
            "description": "Gateway Time-out",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Result"
                }
              }
            }
          }
        }
      }
    },
    "/v1/checkout/merchants/{merchantId}/mxwallets/{mxWalletId}/paymentinstruments/{paymentInstrumentRank}": {
      "put": {
        "tags": [
          "MXWallet / Payment Instrument"
        ],
        "summary": "Update a payment instrument",
        "description": "Update (replace) a payment instrument present in a MXWallet.",
        "operationId": "mxWalletPaymentInstrumentUpdate",
        "parameters": [
          {
            "name": "merchantId",
            "in": "path",
            "description": "Merchant identifier",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "mxWalletId",
            "in": "path",
            "description": "MXWallet identifier (unique by Merchant)",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/MXWalletId"
            }
          },
          {
            "name": "paymentInstrumentRank",
            "in": "path",
            "description": "Rank of the payment instrument to be updated in this MXWallet.",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "example": 1
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PaymentInstrumentRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The updated payment instrument in the MXWallet.",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentInstrumentResult"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestResult"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Result"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Result"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Result"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Result"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Result"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Result"
                }
              }
            }
          },
          "501": {
            "description": "Not Implemented",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Result"
                }
              }
            }
          },
          "502": {
            "description": "Bad Gateway ou Proxy Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Result"
                }
              }
            }
          },
          "503": {
            "description": "Service Unavailable",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Result"
                }
              }
            }
          },
          "504": {
            "description": "Gateway Time-out",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Result"
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "MXWallet / Payment Instrument"
        ],
        "summary": "Get a payment instrument detail",
        "description": "Get a payment instrument detail present in a MXWallet.",
        "operationId": "mxWalletPaymentInstrumentGet",
        "parameters": [
          {
            "name": "merchantId",
            "in": "path",
            "description": "Merchant identifier",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "mxWalletId",
            "in": "path",
            "description": "MXWallet identifier (unique by Merchant)",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/MXWalletId"
            }
          },
          {
            "name": "paymentInstrumentRank",
            "in": "path",
            "description": "Rank of the payment instrument to be updated in this MXWallet.",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "example": 1
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentInstrumentResult"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestResult"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Result"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Result"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Result"
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Result"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Result"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Result"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Result"
                }
              }
            }
          },
          "501": {
            "description": "Not Implemented",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Result"
                }
              }
            }
          },
          "502": {
            "description": "Bad Gateway ou Proxy Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Result"
                }
              }
            }
          },
          "503": {
            "description": "Service Unavailable",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Result"
                }
              }
            }
          },
          "504": {
            "description": "Gateway Time-out",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Result"
                }
              }
            }
          }
        }
      }
    },
    "/v1/checkout/merchants/{merchantId}/mxwallets/{mxWalletId}/paymentinstruments/{paymentInstrumentRank}/status": {
      "put": {
        "tags": [
          "MXWallet / Payment Instrument"
        ],
        "summary": "Update a payment instrument Status",
        "description": "Update the status of a payment instrument present in a MXWallet<br> If this payment instrument is INACTIVE, it is no longer possible to pay with this payment instrument.",
        "operationId": "mxWalletPaymentInstrumentUpdateStatus",
        "parameters": [
          {
            "name": "merchantId",
            "in": "path",
            "description": "Merchant identifier",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "mxWalletId",
            "in": "path",
            "description": "MXWallet identifier (unique by Merchant)",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/MXWalletId"
            }
          },
          {
            "name": "paymentInstrumentRank",
            "in": "path",
            "description": "Rank of the payment instrument to be disabled in this MXWallet.",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "example": 1
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/StatusUpdateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The paymentInstrument status is updated.",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/StatusUpdateResult"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestResult"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Result"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Result"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Result"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Result"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Result"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Result"
                }
              }
            }
          },
          "501": {
            "description": "Not Implemented",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Result"
                }
              }
            }
          },
          "502": {
            "description": "Bad Gateway ou Proxy Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Result"
                }
              }
            }
          },
          "503": {
            "description": "Service Unavailable",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Result"
                }
              }
            }
          },
          "504": {
            "description": "Gateway Time-out",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Result"
                }
              }
            }
          }
        }
      }
    },
    "/v1/checkout/merchants/{merchantId}/mxwallets/{mxWalletId}/paymentinstruments/{paymentInstrumentRank}/default": {
      "put": {
        "tags": [
          "MXWallet / Payment Instrument"
        ],
        "summary": "Set a payment instrument as default",
        "description": "Set a specific payment instrument as the default in a MXWallet. <br> When a payment instrument is marked as default, all other payment instruments in the MXWallet are automatically deselected as the default. <br> Use this operation to manage the preferred payment instrument in a MXWallet.",
        "operationId": "mxWalletPaymentInstrumentDefault",
        "parameters": [
          {
            "name": "merchantId",
            "in": "path",
            "description": "Merchant identifier",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "mxWalletId",
            "in": "path",
            "description": "MXWallet identifier (unique by Merchant)",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/MXWalletId"
            }
          },
          {
            "name": "paymentInstrumentRank",
            "in": "path",
            "description": "Rank of the payment instrument to be disabled in this MXWallet.",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "example": 1
          }
        ],
        "responses": {
          "200": {
            "description": "The paymentInstrument set as default.",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentInstrumentResult",
                  "example": {
                    "result": {
                      "title": "ACCEPTED",
                      "code": "00000",
                      "detail": "Successful"
                    },
                    "paymentInstrument": {
                      "rank": 2,
                      "PaymentInstrumentType": {
                        "code": "AMEX",
                        "name": "American Express"
                      },
                      "isDefault": true,
                      "status": "ACTIVE",
                      "state": "STORED"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestResult"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Result"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Result"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Result"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Result"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Result"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Result"
                }
              }
            }
          },
          "501": {
            "description": "Not Implemented",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Result"
                }
              }
            }
          },
          "502": {
            "description": "Bad Gateway ou Proxy Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Result"
                }
              }
            }
          },
          "503": {
            "description": "Service Unavailable",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Result"
                }
              }
            }
          },
          "504": {
            "description": "Gateway Time-out",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Result"
                }
              }
            }
          }
        }
      }
    },
    "/v1/checkout/mxwallets/sessions": {
      "post": {
        "tags": [
          "MXWallet / Session"
        ],
        "summary": "Create a MXWallet session",
        "description": "Create an MXWallet session to initiate the creation of a virtual wallet via the web interface. <br> This feature enables management of wallet cards, allowing your client to:<br> - View registered cards in their wallet<br> - Delete a registered card from their wallet<br> - Add multiple cards to their wallet<br> - Set a card from their wallet as the default payment method.<br>\n",
        "operationId": "mxWalletSessionCreate",
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MXWalletSessionRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MXWalletSessionResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestResult"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Result"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Result"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Result"
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Result"
                }
              }
            }
          },
          "412": {
            "description": "Precondition Failed",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Result"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Result"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Result"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Result"
                }
              }
            }
          },
          "501": {
            "description": "Not Implemented",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Result"
                }
              }
            }
          },
          "502": {
            "description": "Bad Gateway ou Proxy Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Result"
                }
              }
            }
          },
          "503": {
            "description": "Service Unavailable",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Result"
                }
              }
            }
          },
          "504": {
            "description": "Gateway Time-out",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Result"
                }
              }
            }
          }
        }
      }
    },
    "/v1/checkout/mxwallets/sessions/{mxWalletSessionId}": {
      "get": {
        "tags": [
          "MXWallet / Session"
        ],
        "summary": "Get a MXWallet session detail",
        "description": "This service allows you to retrieve all information about a previously initiated wallet session.<br> After creating a wallet session, you must call this service to ensure the proper functioning of the session and to obtain session information.\n",
        "operationId": "mxWalletSessionGet",
        "parameters": [
          {
            "name": "mxWalletSessionId",
            "in": "path",
            "description": "The unique MXWallet session identifier",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/MXWalletSessionDetailResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestResult"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Result"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Result"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
[...]
